<!-- <h1>Hello Angular</h1> -->
<!-- <courses></courses> -->
<!-- <favourite></favourite> -->

<!-- title casting using component  -->
<!-- <title-casting></title-casting> -->

<!-- Title component using pipe -->
<!-- <input type="text" [(ngModel)]="title"/>
<br>
{{ title | titleCast }} -->

<!-- favourite component field used in the app module, as a input field. -->
<!-- <favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite> -->

<!-- ng-content used to for content projection dynamically during run time -->
<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here....</p>
    </div>
</bootstrap-panel> -->

<!-- // assignment to create a tweet post model with likes count and like-unlike option with mouse curser changes on when over the favourite icon -->
<!-- <like [Count]="tweet.likesCount" [isSelected]="tweet.isLiked"></like> -->

<!-- Derivatives -->
<!-- ng_if_else -->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList> List of courses </ng-template>
<ng-template #noCourses> No courses yet </ng-template> -->

<!-- hidden -->
<!-- <div [hidden]="courses.length == 0">List of Courses</div>
<div [hidden]="courses.length > 0">No Courses yet</div> -->

<!-- ngSwitch Case -->
<!-- <nav class="nav nav-pills">
  <a
    class="nav-item nav-link"
    [class.active]="viewMode === 'Map'"
    (click)="viewMode = 'Map'"
  >
    Map View
  </a>
  <a
    class="nav-item nav-link"
    [class.active]="viewMode === 'List'"
    (click)="viewMode = 'List'"
  >
    List View
  </a>
</nav> -->

<!-- ngFor -->
<!-- <ul>
    <li *ngFor = "let course of courses; even as isEven; index as i">
        {{ i }} - {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
    </li>
</ul> -->

<!-- ngFor and change Deduction  -->
<!-- <button (click)="loadCourse()">Load Course</button>
<button (click)="addCourse()">Add Course</button>
<ul>
  <li *ngFor = "let course of courses; trackBy: trackCourses">
    {{ course.name }} <button (click)="deleteCourse(course)">Delete Course</button>
  </li>
</ul> -->

<!-- ngClass and ngStyle -->
<!-- <button 
[ngStyle]="{
  'backgroundColor' : canSave ? 'blue': 'gray',
  'color' : canSave ? 'white': 'black',
  'fontWeight': canSave? 'bold': 'normal'
}"
> SAVE </button> -->

<!-- safe traversal -->
<!-- <span>{{ task.assignee?.name }}</span> -->

<!-- zippy assignment -->
<!-- <zippy title="Shopping Menu" [isExpanded]="false">
  Shopping Menu Details
</zippy> -->

<!-- Template driven forms intro -->
<!-- <contact-form></contact-form> -->

<!-- course-form -->
<!-- <course-form></course-form> -->

<!-- Reactive Forms -->
<signup-form></signup-form>